<div class="body">     
    <div class="login">    
        <h4>Login</h4>
        <form id="login" method="get" action="login.php">    
            <label><b>User Name</b></label>   
            <br> 
            <input type="text" name="Uname" id="Uname" placeholder="Username">    
            <br>    
            <label><b>Password</b></label> 
            <br>   
            <input type="Password" name="Pass" id="Pass" placeholder="Password">    
            <br>    
            <input type="button" name="log" id="log" value="Log In Here">       
            <br><br>    
            <input type="checkbox" id="check">    
            <span>Remember me</span>    
  
        </form>     
    </div>    
</div> 
<!--
<div class="container">
    <h4>Register</h4>
    <p>Please fill in this form to create an account.</p>
    <label><b>Full Name</b></label> 
    <input type="text" placeholder="Enter Full Name" name="full-name" id="full-name" required>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
 
    <button type="submit" class="registerbtn">Register</button>
  </div>
  -->
  <!--<div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div>  
--> 
